.clearfix::after {
    content: '';
    display: table;
    clear: both;

}

a {
       text-decoration: none;
}

.flex-center {
       height: 100%;
       display: flex;
       align-items: center;
}
