@font-face {
    font-family: 'Merriweather-Regular';
    src: url('/../fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Miller-Display';
    src: url('/../fonts/Miller-Display_30501.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}
