header {
    .container-fullwidth {
        background-image: -webkit-linear-gradient(left, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
        background-image: -o-linear-gradient(left, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
        background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
        .navbar-brand {
            color: white;
            font-size: 30px;
            line-height: 50px;
            margin-left: 25px;
        }
        .kp--bg {
            background-image: -webkit-linear-gradient(left, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
            background-image: -o-linear-gradient(left, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
            background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
        }
        .nav-item {
            a {
                color: white;
            }
        }
        .nav-link {
            color: white;
        }

        .dropdown-item:hover {
            background-image: -webkit-linear-gradient(left, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
            background-image: -o-linear-gradient(left, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
            background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
        }

        .header-pos {
            margin-left: auto;
        }

        .nav-item {
            padding: 0 15px;
        }
    }

}

// .wl-header {
//        .container-2 {
//               height: 57px;
//        }
//        font-family: 'Montserrat-Bold';
//        letter-spacing: 2px;
//        position: sticky;
//        z-index: 2;
//        font-size: 1.5em;
//        height: 57px;
//        transition: all 1s ease;
//        background-color: white;
//        .wl-header-row {
//               height: 100%;
//               .wl-logo {
//                      background-color: $sisal_color;
//                      height: 100%;
//                      .wl-logo-header {
//                             .fa-bars {
//                                    display: none;
//                             }
//                             justify-content: flex-start;
//                             #logo {
//                                    color: white;
//                                    text-transform: uppercase;
//                             }

//                      }

//               }
//               .wl-nav {
//                      background-color: white;
//                      height: 100%;
//                      .wl-nav-header {
//                             justify-content: space-between;
//                             font-family: 'Montserrat';
//                             letter-spacing: 1px;
//                             font-size: 0.7rem;
//                             margin: 0 10px 0 40px;
//                             a {
//                                    color: black;
//                                    &:hover {
//                                           color: $sisal_color;
//                                    }
//                             }
//                      }
//               }
//               .wl-searchbar {
//                      background-color: white;
//                      height: 100%;
//                      .wl-searchbar-header {
//                             justify-content: flex-end;
//                             .searchform {
//                                    margin: 0;
//                                    & label,
//                                    & input {
//                                    color: black;
//                                    }
//                                    & label {
//                                           margin: 0px 5px 0 0;
//                                    }
//                                    & input[type=search] {
//                                           font: 0.7rem Montserrat;
//                                           border: 0.1rem solid black;
//                                           border-width: 0 0 0.1rem;
//                                           background-color: transparent;
//                                           width: 50%;
//                                           position: relative;
//                                           bottom: 5px;
//                                    }
//                                    & input[type=search]:focus {
//                                           border-color: black;
//                                           color: black;
//                                           outline: 0;
//                                           position: relative;
//                                           bottom: 5px;
//                                    }
//                                    .fa-horizontal {
//                                           font-size: 0.7rem;
//                                    }
//                             }
//                      }
//               }
//        }


// }
