.gv-show {
    padding-top: 40px;

    h1 {
        font-size: 35px;
        color: $airbnb_color;
        text-transform: uppercase;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;
    }

    p {
        font-size: 18px;
    }
}

.gv-content {
    display: flex;
    padding: 40px 0;

    height: 400px;
}

.gv-infoapartment {
    padding-bottom: 75px;

    h4 {
        font-size: 26px;
        padding-top: 50px;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;
        color: $airbnb_color;
    }

    span {
        text-transform: capitalize;

        &:last-child {
            display: none;
        }
    }
}

.gv-message-section {
    padding-bottom: 50px;

    h4 {
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;
        color: $airbnb_color;
    }
}

.gv-messages, .gv-sponsorship {
    padding-bottom: 75px;

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 26px;
        padding-top: 50px;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;
        color: $airbnb_color;
    }
}
